@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Nanum+Gothic+Coding&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

:root{
    ---amarelo:#E3E00C;
    
}

h1{
    color: black;
    background-color: var(---amarelo);
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-bottom:20px ;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
}

picture img{
    display: block;
    margin: auto;
}

