@charset "UTF-8";

body{
    background-color: rgb(197, 221, 240);
}

a{
    border-radius: 50%;
    margin: 20px;
    position: fixed;
    right: 0;
}

.opcao{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 473px;
}

a:hover{
    margin-right: 28px;
    margin-top: 10px;
}

a img:hover{
    box-shadow: 1px 1px 4px rgb(0, 0, 124);
}

a#home{
    top: 10px;
}

a#insta{
    top: 90px;
}

a#github{
    top: 170px;
}

a#twitter{
    top: 250px;
}
