@charset "UTF-8";

body{
    background-color: rgb(19, 19, 19);
}


nav{
    position: fixed; 
    right: 0;
}

a{
    display: block;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 10px;
}


.opcao{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

section{
    position: relative;
    margin: auto;
    text-align: center;
    width: 400px;
}

iframe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 490px;
}



