@charset "UTF-8";

*{
    margin: 0px;
}

body{
    background-color: #D3D3D3;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color: #949494;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.589);
}

header > h1{
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.545);
    padding: 20px;
}

div{
    background-color: rgb(34, 34, 34);
    text-align: center;
}

div > i{
    font-size: 35px;
}

div:hover{
    background-color: white;
    color: black;
}

nav > ul{
    display: none;
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

li > a{ 
    color: white;
    text-decoration: none;
}

li:hover{
    background-color: #949494;
}

li{
    background-color:rgb(34, 34, 34);
    font-size: 18px;
    padding: 8px;
    margin: 2px 0px 0px 0px;
}

input[type=checkbox]{
    display:none;
}

#toggle-menu:checked + label + ul{
    display: inline;
}

main{
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.371);
}

article p{
    margin-bottom: 15px;
}

article > h2{
    margin-bottom: 15px;
}
















