@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #3B8FD9;
}

main{
    background-color: #F0F1F2;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #031ba682;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#d78c01;
    text-align: center;
    text-shadow: 1px 1px 2px #c27e01b8;
}

h2{
    color: #031CA6;
}

p{
    text-align: justify;
}


